html {
    font-family: lato, sans-serif;
}

.profilePic {
    margin: 0;
    padding-right: 8px;
    width: 250px;
    height: auto;
}

.row-eq-height {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
}

.container-left {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.container-right {
    flex: 3;
    padding: 20px;
    box-sizing: border-box;
}

.container-left {
    background-color: #f0f0f0;
}

.container-right {
    background-color: #e9ecef;
}

div {
    border: solid;
}

.web-res-list {
    padding: 2rem 4rem;
}

.main-header {
    padding: 0 4rem;
}

.sensors-list {
    padding: 0 4rem;
}